@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
//mobile first design
body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', 'arial';
}

//resets-----
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}

img {
    width: 100%;
}
//----

.nav-container {
    background: #AA47D1;
    //scss can inbed changes within itself
    a {
        color: white;
    }
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header, .hero-design, .hero-design2{
    display: none;
}

.hero {
    background: #47D1AA;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #D1476E;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.portfolio {
    background: #F7F7F7;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}