@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
//mobile first design
body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', 'arial';
}

//resets-----
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
}

img {
    width: 100%;
}
//----

.nav-container {
    background: #AA47D1;
    //scss can inbed changes within itself
    a {
        color: white;
    }
}
  
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header, .hero-design, .hero-design2{
    display: none;
}

.hero {
    background:#AA47D1;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}
footer {
    background: #47D1AA;
    color: white;
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;

}
.meet p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

section {
    padding: 4em 2em;
    text-align: center;
    z-index: 1;
    background: white;
    h2 {
        color: white;
    }
}

.featured {
    position: relative;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.interests {
    background: #d69509;

}

.interest-container ul li{
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    .icon-container{
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 50px;
        }
        &.two {
            width: 100px;
        }
        &.three {
            width: 60px;
        }
    }
    .interest-title {
        font-weight: bold;
    }
    .featured-desc {
        margin-bottom: 2em;
    }
}


.portfolio {
    background: #F7F7F7;
    z-index: 1;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}
.contact-button {
    color: white;
    background-color: #D1476E;
    border-radius: 40px;
    width: 100px;
    height: 50px;
    box-shadow: none;
    border: 0;
    margin-bottom: 2em;
}
.contact-button:hover {background-color: #ac3a5a}

.contact-button:active {
  background-color: #ac3a5a;
  transform: translateY(2px);
}

@media only screen and (min-width: 800px){
    .featured, .portfolio {
        text-align: left;
    }
    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }
    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }
    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .interests {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }
    .interest-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio {
        padding-top: 7em;
    }
    .portfolio-container img {
        margin-left: 2em;
    }
  
}

@media only screen and (min-width: 1050px){
    .hero {
        height: 90vh;

    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        

        header {
            background: #AA47D1;
        }
    }
    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    
    }
    .social-header {
        display: block;

        ul{
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: 80px;
            }
        }
    }
    
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        padding: 0;

        .content {
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
    .meet {
        margin: none;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 20%;
        width: 100%;
        z-index: 1;
        animation: 
        shake 3.5s
    }
    @keyframes shake {
        0% { transform: rotate(0deg); }
        10% { transform: rotate(-1deg); }
        20% { transform: rotate(1deg); }
        30% { transform: rotate(0deg); }
        40% { transform: rotate(1deg); }
        50% { transform: rotate(-1deg); }
        60% { transform: rotate(0deg); }
        70% { transform: rotate(-1deg); }
        80% { transform: rotate(1deg); }
        90% { transform: rotate(0deg); }
        100% { transform: rotate(-1deg); }
      }
    .hero-design2 {
        position: absolute;
        display: unset;
        margin-left: 50%;
        margin-top: 60%;
        width: 100%;
        object-fit: contain;
    }
    .portfolio img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em
    }
    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 6em 20em 4em 20em
    }
    .hero .content {
        padding: 9em 20em 6em 20em;
    }
}